body {background-color:black;font:arial;font-color:white}
h1{color:grey;font:verdana}
.maindiv {
  background-color: white;font:black;width:300;padding: 20px;border-radius: 25px;
  margin: auto;
  width: 20%; 
}
